{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="card-body">
    <h4 class="text-center my-2"><strong>Contact us</strong></h4>
    <p class="text-center">    
        If you have any questions or suggestions please contact us by filling the form below, we will gladly answer you in shortest time possible!
    </p>
    <div class="card mb-4 mt-5 mx-3 contact-form">
        <div class="card-body">       
            <form method="post">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn main-btn btn-secondary">Send</button>
            </form>               
        </div>
    </div>
</div>
{% endblock %}