{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Welcome message -->
        <div class="welcome">
            <hr class="hr1-welcome">
            <h3 class="m-2 text-center">
                I know i know, there will be many things said here that might disturb you.
                Before running away i would like you to ask yourself one question. "What if?"
                What if some of these things are true? What would you do?
                Would you update your system or still run on old software?
                Informations provided here are turning point for millions around world,
                escape from pain and suffering, a gateweay to new life, literally.
                Im one of those and i invite you, give a best version of yourself a chance!
                Welcome to the real world Neo.
            </h3>
            <hr class="hr2-welcome">
        </div>

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://c.pxhere.com/photos/d7/c4/furniture_kitchen_table_table_drawer_kitchen-965226.jpg!d">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>

    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Login for CRUD reminder -->
<div class="row reminder">
    <p class="m-2 text-center">
        Reminder to <a class="reminder-link" href="{% url 'account_login' %}">Log In</a> / <a class="reminder-link" href="{% url 'account_signup' %}">Register</a> in order to comment on posts and leave your valuable opinion.
        If you want to contact us privately please do trough the following form: <a class="reminder-link" href="{% url 'contact' %}">Contact Us</a>. Thank you!</p>
</div>
{%endblock%}